@charset "UTF-8";

.hd-top-wrap {
    background: #fff;
    border-bottom: 1px solid #d2d2d2;
    .header_inner {
        max-width: 1320px;
        margin: 0 auto;
        display: block;
        position: relative;
        z-index: 105;
        .htl-style {
            float: left;
            position: relative;
            z-index: 100;
        }
    }
}
