//site width
$maxWidth: 1320px;

//text size
$fontSizeTniy: 13px;
$fontSizeSamll: 14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

// background color

//list color
$mainBg: #fff;
$subBg: #fff9f9;
$listBorderColor: #fce4e4;

// font color


//border color
$borderColorPrimary: #d2d2d2;

//button color
