body {
  font-family: "NotoSansKR", "san-serif";
  font-size: 13px;
  letter-spacing: -0.7px;
  color: #333;
  background-color: #fff
}

.header_inner {
  max-width: 1320px;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 105
}

.header_inner::after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 10px
}

.more {
  position: absolute;
  width: 15px;
  height: 15px;
  transition: 0.5s;
  background: url("/assets/images/main2021/btn_more.png") center no-repeat
}

.more i {
  font-size: 15px
}

.morebtn .more:hover {
  transform: rotate(180deg)
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto
}

#gn_p_header_wrapper {
  display: block
}

#gn_m_header_wrapper {
  display: none
}

.green {
  color: #01b56e
}

.depth1, .sub-outer, .depth_list2, .depth2_item, .depth3, .depth_list3 {
  transition-duration: .25s;
  transition-property: all;
  transition-timing-function: linear
}

.after:after {
  content: '';
  display: block;
  clear: both
}
