@charset "utf-8";

/* font setting */
/* Webfont: NanumGoghic-Regular */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/NanumGothic/NanumGothic-Regular.eot');
  src: url('/assets/fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
    url('/assets/fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
    url('/assets/fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
}

/* Webfont: NanumGoghic-Bold */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/NanumGothic/NanumGothic-Bold.eot');
  src: url('/assets/fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
    url('/assets/fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
    url('/assets/fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
}

/* Webfont: NanumGoghic-ExtraBold */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/NanumGothic/NanumGothic-ExtraBold.eot');
  src: url('/assets/fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NanumGothic/NanumGothic-ExtraBold.woff2') format('woff2'),
    url('/assets/fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
    url('/assets/fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
}

/* Webfont: NanumSquare-Regular */
@font-face {
  font-family: 'Nanum Square';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/NanumSquare/NanumSquareR.eot');
  src: url('/assets/fonts/NanumSquare/NanumSquareR.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NanumSquare/NanumSquareR.woff2') format('woff2'),
    url('/assets/fonts/NanumSquare/NanumSquareR.woff') format('woff'),
    url('/assets/fonts/NanumSquare/NanumSquareR.ttf') format('truetype');
}

/* Webfont: NanumSquare-Bold */
@font-face {
  font-family: 'Nanum Square';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/NanumSquare/NanumSquareB.eot');
  src: url('/assets/fonts/NanumSquare/NanumSquareB.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NanumSquare/NanumSquareB.woff2') format('woff2'),
    url('/assets/fonts/NanumSquare/NanumSquareB.woff') format('woff'),
    url('/assets/fonts/NanumSquare/NanumSquareB.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoKrL';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/NotoSans/notokr-light.eot');
  src: url('/assets/fonts/NotoSans/notokr-light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSans/notokr-light.woff2') format('woff2'),
    url('/assets/fonts/NotoSans/notokr-light.woff') format('woff');
}

@font-face {
  font-family: 'NotoKrR';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/NotoSans/notokr-regular.eot');
  src: url('/assets/fonts/NotoSans/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSans/notokr-regular.woff2') format('woff2'),
    url('/assets/fonts/NotoSans/notokr-regular.woff') format('woff');
}

@font-face {
  font-family: 'NotoKrM';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/NotoSans/notokr-medium.eot');
  src: url('/assets/fonts/NotoSans/notokr-medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSans/notokr-medium.woff2') format('woff2'),
    url('/assets/fonts/NotoSans/notokr-medium.woff') format('woff');
}

@font-face {
  font-family: 'NotoKrB';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/NotoSans/notokr-bold.eot');
  src: url('/assets/fonts/NotoSans/notokr-bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSans/notokr-bold.woff2') format('woff2'),
    url('/assets/fonts/NotoSans/notokr-bold.woff') format('woff');
}

/* noto-serif-kr-regular - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-regular.eot');
  /* IE9 Compat Modes */
  src: local('Noto Serif KR'), local('NotoSerifKR-Regular'),
    url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-regular.svg#NotoSerifKR') format('svg');
  /* Legacy iOS */
}

/* noto-serif-kr-900 - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-900.eot');
  /* IE9 Compat Modes */
  src: local('Noto Serif KR Black'), local('NotoSerifKR-Black'),
    url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-900.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/NotoSerif/noto-serif-kr-v6-korean-900.svg#NotoSerifKR') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Thin.otf');
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Thin.otf?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Thin.woff2') format('woff2'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Thin.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Light.otf');
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Light.otf?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Light.woff2') format('woff2'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Light.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-DemiLight.otf');
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-DemiLight.otf?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-DemiLight.woff2') format('woff2'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-DemiLight.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Regular.otf');
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Regular.otf?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff2') format('woff2'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Medium.otf');
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Medium.otf?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Medium.woff2') format('woff2'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Medium.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Bold.otf');
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Bold.otf?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff2') format('woff2'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Black.otf');
  src: url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Black.otf?#iefix') format('embedded-opentype'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Black.woff2') format('woff2'),
    url('/assets/fonts/NotoSansKR-WEB/NotoSansKR-Black.woff') format('woff');
}
