* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html, body {
  height: 100%
}

ul, ol, li {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit
}

a, a:hover, a:visited, a:active {
  outline: 0;
  text-decoration: none;
  color: inherit
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}
