body {
  font-family: "NotoSansKR", "san-serif";
  font-size: 13px;
  letter-spacing: -0.7px;
  color: #333;
  background-color: #fff;
}

.hd-top-wrap {
  background: #fff;
  border-bottom: 1px solid #d2d2d2;
}

.header_inner {
  max-width: 1320px;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 105;
}

.htl-style {
  float: left;
  position: relative;
  z-index: 100;
}

.htl-style > ul::after {
  content: '';
  display: block;
  clear: both;
}

.htl-style li:hover > a {
  font-weight: 500;
  box-shadow: 0 -3px 0 0 #f6bebe inset;
}

.htl-style li.tab-dp1 {
  float: left;
  position: relative;
}

.htl-style li.tab-dp1.on > a {
  font-weight: bold;
}

.htl-style li.tab-dp1 > a {
  display: block;
  font-size: 14px;
  color: #333;
  line-height: 24px;
  padding: 8px 15px;
  position: relative;
}

.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 2px;
vertical-align: middle;
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
margin-left: 10px;
}

.htl-style li.tab-dp1 > a > span.caret {
  display: none;
}

.htl-style li:hover ul.ht-dp2 {
  display: block;
}

.htl-style ul.ht-dp2 {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10001;
  background: #fff9f9;
  box-shadow: 1px 2px 6px rgba(0,0,0,50%);
}

.htl-style ul.ht-dp2 > li {
  padding-left: 30px;
}

.htl-style ul.ht-dp2 > li > a {
  position: relative;
  display: inline-block;
  padding: 8px 0;
  font-size: 13px;
  color: #333;
}

.htl-style ul.ht-dp2 > li > a:hover {
    color: #ae0222;
}

.htl-style ul.ht-dp2 > li > a:hover::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -10px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #ae0222;
}

.htl-style ul.ht-dp2.col2 {
  min-width: 500px;
}

.htl-style ul.ht-dp2.col2 > li {
  width: 50%;
  float: left;
}

.htl-style ul.ht-dp2.col2 > li:nth-child(odd) {
  border-right: 1px solid #fce4e4;
}
