.hd-top-wrap {
  background: #fff;
  border-bottom: 1px solid #d2d2d2
}

.hd-top-wrap div:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden
}

.hd-top-wrap .htl-style {
  float: left;
  position: relative;
  z-index: 100
}

.hd-top-wrap .htl-style ul:after {
  content: '';
  display: block;
  clear: both
}

.hd-top-wrap .htl-style ul li:hover>a {
  font-weight: 500;
  box-shadow: 0 -3px 0 0 #f6bebe inset
}

.hd-top-wrap .htl-style ul li.tab-dp1 {
  float: left;
  position: relative
}

.hd-top-wrap .htl-style ul li.tab-dp1 a {
  display: block;
  font-size: 14px;
  color: #333;
  line-height: 24px;
  padding: 8px 15px;
  position: relative
}

.hd-top-wrap .htl-style ul li.tab-dp1 a span.caret {
  display: none
}

.hd-top-wrap .htl-style ul li.tab-dp1.on>a {
  font-weight: bold
}

.hd-top-wrap .htl-style ul li:hover ul.ht-dp2 {
  display: block
}

.hd-top-wrap .htl-style ul li ul.ht-dp2 {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10001;
  background: #fff9f9;
  box-shadow: 1px 2px 6px #000;
  min-width: 250px
}

.hd-top-wrap .htl-style ul li ul.ht-dp2 li {
  padding-left: 30px
}

.hd-top-wrap .htl-style ul li ul.ht-dp2 li a {
  position: relative;
  display: inline-block;
  padding: 8px 0;
  font-size: 13px;
  color: #333
}

.hd-top-wrap .htl-style ul li ul.ht-dp2 li a:hover {
  color: #ae0222
}

.hd-top-wrap .htl-style ul li ul.ht-dp2 li a:hover:before {
  content: '';
  position: absolute;
  top: 15px;
  left: -10px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #ae0222
}

.hd-top-wrap .htl-style ul li ul.ht-dp2.col2 {
  min-width: 500px
}

.hd-top-wrap .htl-style ul li ul.ht-dp2.col2 li {
  width: 50%;
  float: left
}

.hd-top-wrap .htl-style ul li ul.ht-dp2.col2 li:nth-child(odd) {
  border-right: 1px solid #fce4e4
}

.header-top .login-btn {
  position: absolute;
  right: 186px;
  top: 0;
  z-index: 99
}

.header-top .login-btn a {
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 15px;
  transition: all 0.3s ease 0s
}

.header-top .lang-btn {
  position: absolute;
  right: 79px;
  top: 0;
  z-index: 99
}

.header-top .lang-btn a {
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 15px;
  transition: all 0.3s ease 0s
}

.header-top .lang-btn .dropdown-menu {
  display: none;
  border: 1px solid #ececec;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
  background-color: #fbfbfb;
  position: absolute;
  top: 100%;
  left: inherit;
  float: none;
  min-width: 100%;
  padding: 0;
  margin: 0
}

.header-top .lang-btn .dropdown-menu li a {
  padding: 3px 5px;
  display: block;
  text-align: center;
  color: #333
}

.header-top .lang-btn .dropdown-menu li a:hover {
  background-color: #f5f5f5
}

.header-top .lang-btn .sitemap-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99
}

.header-top .lang-btn .sitemap-btn a {
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 15px;
  transition: all 0.3s ease 0s
}

.header .nav_top {
  position: relative;
  border-bottom: 1px solid #ee7f7f
}

.header .nav_top .h_center {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
  min-width: 1024px
}

.header .nav_top .h_center .logo .web_logo {
  width: 280px;
  position: relative
}

.header .nav_top .h_center .logo .web_logo a {
  width: 100%;
  display: block
}

.header .nav_top .h_center .logo .web_logo a img.pc_logo {
  vertical-align: bottom
}

.header #gn_p_header_wrapper {
  display: block
}
