body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #4287f5;
}


img {
  width: 80%;
  height: 80%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.tit {
  font-size: 50px;
  margin-bottom: 5vh;
  color: #001ca8;
}

.point {
  font-size: 60px;
  color: #de0000;
}

p {
  font-weight: 600;
}
